# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tutorial-master\django-kong-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
